@import 'node_modules/tachyons/css/tachyons';

body {
  @extend .f7, .code, .pa2;
}

button {
  @extend .ph2, .bg-white, .ba, .br2;
  cursor: pointer;
}

table {
    @extend .f7;
}

#logo {
    float: left;
    background: url("./favicons/favicon-32x32.png");
    height: 32px;
    width: 32px;
}
