@import 'node_modules/tachyons/css/tachyons';

body {
  @extend .f7, .code;
}

button {
  @extend .ph2, .bg-white, .ba, .br2;
  cursor: pointer;
}

table {
    @extend .f7;
}

#logo {
    float: left;
    background: url("./favicons/favicon-32x32.png");
	background-size: 32px 32px;
    height: 32px;
    width: 32px;
    margin-top: 0.75rem;
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
     #logo {
		background: url("./favicons/favicon-96x96.png");
		background-size: 32px 32px;
     }
}

.fade-out {
  animation: fade-out 1.5s;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
